


<div class="wrapper">
    <nav>
      <a style="color: black;" class="logo">E-Trader</a>
      <ul>
       
        <li>
          <a ><i class="fa-solid fa-bell"></i>
            <span style="font-size:10px;" class="badge rounded-pill badge-notification bg-danger">{{length}}</span></a>
        </li>
        <li>
          <a ><i class="fa fa-user" aria-hidden="true"></i></a>
        </li>
        <li class=" nav-item text-white " role="button">
            <a class=" btn btn-danger   nav-link text-white" (click)="logout()" >logout</a>
        </li>
      </ul>
    </nav>
  </div>